<main class="main">
  <div class="inner">
  <div class="articles">
  <%= @articles["articles"] %>
      <div class="article">
        <div class="title">
          <%= link_to article["title"], article["url"] %>
        </div>
        <div class="wrapper">
          <div class="date">
            <%= article["publishedAt"] %>
          </div>
          <div class="source">
            <%= article["source"]["name"]%>
          </div>
          <div class="image">
            <%= image_tag article["urlToImage"] || '#', :size =>'240x160' %>
          </div>
          <div class="content">
            <%= article["description"] %>
          </div >
        </div>
      </div>
  </div>
    <ul class="comments_lists">
      <% @comments.each do |comment| %>
        <li class="comments_list">
          <%= comment.text%>
          <%= link_to "（#{comment.user.name}）", news_comments_path, class: :comment_user %>
        </li>
      <% end %>
    </ul>
  </div>
</main>
